/* font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
}

/* navbar section */
.nav-section-all-content {
  background-color: #1f1f1f;
  width: 100%;
  padding-top: 30px;
  & .nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0px auto;
  }
  & .nab-head {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
  }
  & .nav-items {
    & ul {
      list-style: none;
      display: flex;

      & li a {
        text-decoration: none;
        margin-left: 60px;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
  & .hidden-item {
    width: 20px;
    height: 20px;
    display: none;
  }
}

/* banner-all-content */
.banner-all-content {
  background-color: #1f1f1f;
  width: 100%;

  & .banner-section {
    max-width: 1070px;
    margin: 0px auto;
    height: 580px;
    display: flex;
    gap: 130px;
    & .banner-content {
      width: 50%;
      height: 570px;
      & h3 {
        font-size: 4.8rem;
        font-weight: 900;
        line-height: 120%;
        margin-bottom: 1.7rem;
        color: rgb(255, 255, 255);
        margin-top: 4rem;
      }
      p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin-bottom: 1.7rem;
      }

      & .banner-button {
        /* display: flex; */

        & .button-one {
          background-color: rgb(230, 83, 60);
          width: 225px;
          height: 50px;
          padding: 5px;
          border-radius: 42px;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 22px;
          border: none;
          outline: none;
          color: rgb(255, 255, 255);
        }
        & .button-two {
          width: 225px;
          height: 50px;
          padding: 5px;
          border-radius: 42px;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 22px;
          /* color: rgb(255, 255, 255); */
          border: 1px solid rgb(255, 255, 255);
          margin-left: 15px;
        }
      }
    }
    & .banner-img {
      margin-top: 13px;
      width: 50%;
      height: 570px;
      position: relative;
      & img {
        width: 349px;
        height: 567px;
      }
      & .video {
        width: 10rem;
        height: 6rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(2px);
        background-color: rgba(48, 48, 48, 0.54);
        /* margin-top: -300px; */
        position: absolute;
        top: 400px;
        right: 370px;
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        & .circle {
          width: 40px;
          height: 40px;
          background-color: rgb(230, 83, 60);
          border-radius: 50%;
        }
        & .content {
          & h3 {
            color: rgb(255, 255, 249);
            font-size: 24px;
            font-weight: 900;
            line-height: 24px;
            padding: 2px;
          }
          & p {
            color: rgba(239, 237, 232, 0.65);
            font-size: 1rem;
            font-weight: 400;
            line-height: 24px;
            padding: 2px;
          }
        }
      }
      & .workout-video {
        width: 10rem;
        height: 6rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(2px);
        background-color: rgba(48, 48, 48, 0.54);
        position: absolute;
        top: 130px;
        right: 100px;
        text-align: center;

        & h3 {
          color: rgb(255, 255, 249);
          font-size: 24px;
          font-weight: 900;
          line-height: 24px;
          padding: 2px;
          margin-top: 20px;
        }
        & p {
          color: rgba(239, 237, 232, 0.65);
          font-size: 13px;
          font-weight: 400;
          line-height: 24px;
          padding: 2px;
        }
      }
    }
  }
}

/*--------Change Your Habits section --------*/
.habits-all-section {
  width: 100%;
  margin-top: 100px;
  color: white;
  & .habit-section {
    max-width: 1070px;
    margin: 0px auto;

    & .content {
      width: 671px;
      margin: 0px auto;
      text-align: center;
      & h2 {
        color: rgb(255, 255, 255);
        font-size: 3rem;
        font-weight: 900;
        line-height: 120%;
      }
      & p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        margin-top: 14px;
        margin-bottom: 3.125rem;
        line-height: 24px;
        letter-spacing: 0.3px;
      }
    }
    & .habit-img {
      display: flex;
      gap: 70px;
      text-align: center;
      & img {
        border-radius: 50%;
        border: 3px solid #1a1a1a;
      }
      & h3 {
        margin-top: 1.6rem;
        color: rgb(255, 255, 255);
      }
      & p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        margin-top: 14px;
        margin-bottom: 3.125rem;
        line-height: 24px;
        letter-spacing: 0.3px;
        margin-top: 10px;
      }
    }
  }
}

/* responsive small devices */
@media screen and (max-width: 576px) {
  .nab-head {
    padding: 30px;
  }
  .nav-items {
    display: none;
  }
  & .hidden-item {
    display: block;
    padding: 10px;
    text-align: center;
  }

  /* banner-all-content */
  .banner-all-content {
    padding-left: 30px;
    width: 100%;

    & .banner-section {
      max-width: 100%;

      height: auto;
      flex-direction: column;

      gap: 30px;
      & .banner-content {
        width: 100%;
        height: 370px;
        & h3 {
          font-size: 3rem;
          margin-bottom: 1rem;
          margin-top: 2rem;
        }
        p {
          margin-bottom: 1rem;
        }
        & .banner-button {
          & .button-one {
            width: 150px;
            height: 35px;
          }
          & .button-two {
            width: 150px;
            height: 35px;
          }
        }
      }
      & .banner-img {
        & img {
          width: 349px;
          height: 567px;
        }
        & .video {
          width: 9.4rem;
          height: 6rem;
          top: 440px;
          left: 3px;
          & .circle {
            padding-left: 3px;
            width: 30px;
            height: 30px;
          }
        }
        & .workout-video {
          width: 9.4rem;
          height: 6rem;
          top: 130px;
          right: -160px;
          text-align: center;

          & h3 {
            color: rgb(255, 255, 249);
            font-size: 24px;
            font-weight: 900;
            line-height: 24px;
            padding: 2px;
            margin-top: 20px;
          }
          & p {
            color: rgba(239, 237, 232, 0.65);
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            padding: 2px;
          }
        }
      }
    }
  }

  /*--------Change Your Habits section --------*/
  .habits-all-section {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    & .habit-section {
      max-width: 100%;

      & .content {
        width: 100%;
      }
      & .habit-img {
        flex-direction: column;
        gap: 40px;
        & h3 {
          margin-top: 1rem;
        }
        & p {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
